<ion-view view-title="Comments">
  <ion-content>
    <h1>Issue #{{issue.nid}} - Comments</h1>

    <div class="list card">

      <div class="item item-body item-text-wrap">
        <h2>{{issue.title}}</h2>
        <p>{{issue.last_comment_timestamp | date:"dd/MM/yyyy 'at' h:mma"}}</p>
      </div>

    </div>

    <div ng-show="files.length" class="item">
      <h2>Files</h2>

      <ion-list>
        <ion-item class="file-{{file.fid}}" ng-repeat="file in files | orderBy:'-timestamp'">
          <div ng-click="goto(file.url)" class="item item-text-wrap">
            <h3>{{file.name}}</h3>
            <p>Posted: {{file.timestamp | date:"dd/MM/yyyy 'at' h:mma"}}</p>
            <p>Size: {{file.size}}kb</p>
            <img ng-show="file.mime.substring(0, 5) == 'image'" src="{{file.url}}">
          </div>
        </ion-item>
      </ion-list>
    </div>


    <ion-list>
      <ion-item ng-hide="comment.comment_body.length == '0'" class="comment-{{comment.cid}}" ng-repeat="comment in comments | orderBy:'created'">
        {{comment.title}}
        <div class="list card">

          <div class="item item-avatar item-text-wrap">
            <img src="img/default-avatar.png">
            <h2>{{comment.subject}}</h2>
            <p>{{comment.name}}</p>
            <p>{{comment.created | date:"dd/MM/yyyy 'at' h:mma"}}</p>
          </div>

          <div ng-hide="comment.comment_body.value.length == 0" class="item item-body">
            <p ng-bind-html="comment.comment_body.value"></p>
          </div>

          <div ng-show="comment.files.length" class="list padding">
            <p>Attached File:</p>

            <div ng-repeat="file in comment.files | orderBy:'-timestamp'">
              <p>{{file.name}}</p>
            </div>
          </div>

        </div>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-view>
