<ion-view view-title="Favourites">
  <ion-content>
    <button ng-click="toggleFilters()" style="float:right" class="button icon ion-search"></button>
    <h1>Favourites</h1>
    <div ng-hide="issues.length">
      <div class="card">
        <p class="item">No favourites added yet.</p>
      </div>
      <a href="#/app/projects" class="button button-block">Go to Projects</a>
    </div>

    <div ng-show="showFilters" class="list"><h2>Filters:</h2>
      <label class="item item-input">
        <input ng-model="search.title" type="text" placeholder="Title">
      </label>
      <label class="item item-input item-select">
        <div class="input-label">
          Issue Status
        </div>
        <select ng-model="search.field_issue_status">
          <option value="">All</option>
          <option value="1">Active</option>
          <option value="13">Needs work</option>
          <option value="8">Needs review</option>
          <option value="14">RTBC</option>
          <option value="15">Patch - to be ported</option>
          <option value="2">Fixed</option>
          <option value="4">Postponed</option>
          <option value="16">Postponed - More info needed</option>
          <option value="3">Closed - duplicate</option>
          <option value="5">Closed - won't fix</option>
          <option value="6">Closed - works as designed</option>
          <option value="18">Closed - cannot reproduce</option>
          <option value="7">Closed - fixed</option>
        </select>
      </label>
    </div>
    <ion-list>
      <ion-item ng-hide="issue.hide" can-swipe class="status-{{issue.field_issue_status}} padding item item-text-wrap" item-render-buffer="5" item-height="100" ng-repeat="issue in issues | filter:search | orderBy:'-last_comment_timestamp'" href="#/app/projects/{{projectId}}/{{issue.nid}}">
        {{issue.title}}
        <p>Status: {{issue.status_value}}</p>
        <p>Updated: {{issue.last_comment_timestamp | date:"dd/MM/yyyy 'at' h:mma"}}</p>
        <ion-option-button ng-click="removeIssue(issue.nid)" class="button-assertive icon ion-trash-a"></ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
