<ion-view view-title="Issue">
  <ion-content>
    <h1>Issue #{{issue.nid}}</h1>

    <div class="list card">

      <div class="item item-avatar item-text-wrap">
        <img src="img/default-avatar.png">
        <h2>{{issue.title}}</h2>
        <p>{{issue.last_comment_timestamp | date:"dd/MM/yyyy 'at' h:mma"}}</p>
      </div>

      <div class="item">
        <h2>Reporter</h2>
        <p>{{author.field_first_name}} {{author.field_last_name}} ({{author.name}})</p>
      </div>

      <div class="item status-{{issue.field_issue_status}}">
        <h2>Status</h2>
        <p>{{issue.status_value}}</p>
      </div>

      <div class="item item-body">
        <h2>Summary</h2>
        <p ng-bind-html="issue.body.value"></p>
        <p>
          <a href="#" class="subdued">1 Followers</a>
          <a href="#" class="subdued">{{ issue.comment_count }} Comment(s)</a>
        </p>
      </div>

      <div class="item tabs tabs-secondary tabs-icon-left">
        <a class="tab-item" href="#">
          <i class="icon ion-thumbsup"></i>
          Follow
        </a>
        <a class="tab-item" href="#/app/projects/{{projectId}}/{{issueId}}/comments">
          <i class="icon ion-chatbox"></i>
          Comments
        </a>
        <a class="tab-item" href="#">
          <i class="icon ion-share"></i>
          Share
        </a>
      </div>

    </div>
  </ion-content>
</ion-view>
